.main .profile {
    min-height: 30vh;
}
.katex {
  font-size: 1em  !important;
}

.main {
    min-height: 30vh;
}

.dark {
    --theme: rgb(20, 20, 26);
    --entry: rgb(28, 28, 40);
    --border: rgba(0, 0, 0, 0);
    --tertiary: rgb(34, 34, 49);
    --code-block-bg: rgb(33, 32, 47);
    --code-bg: var(--code-block-bg);
    background: var(--theme);
}

:root {
    background: unset;
    --tertiary: rgb(251, 249, 246);
    --theme: rgb(253, 252, 250);
    --main-width: 900px;
    --code-block-bg: var(--tertiary);
    --code-bg: var(--tertiary);
}

.list {
    background: var(--theme);
}

body {
    font-family:
        "Gowun Dodum",
        -apple-system,
        BlinkMacSystemFont,
        segoe ui,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        open sans,
        helvetica neue,
        sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    word-break: break-word;
}

.chroma {
    border-radius: 8px;
}

.post-content pre code {
    color: var(--secondary);
}

.post-content img {
    margin: 2rem auto;
}

.github-link {
    margin-left: auto;
}

.entry-cover img {
    max-height: 350px;
    object-fit: cover;
    object-position: top;
}
